body
{
 background: #2b5876; /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #2b5876, #4e5376); /* For Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #2b5876, #4e5376);
}


#form
{
  width: 30%;
  margin: 25px auto;
}
